In [1]:
import pandas as pd
import numpy as np
from pycaret.classification import *

In [2]:
df=pd.read_csv("random file.csv")

In [3]:
df.head(2)

   Unnamed: 0 Software          OS   Hardware  CVSS Score
0           0     Ftpd  Element Os  Apq8064au          10
1           1     Ftpd  Element Os     Ar9380          10

In [4]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [5]:
df.head()

  Software          OS   Hardware  CVSS Score
0     Ftpd  Element Os  Apq8064au          10
1     Ftpd  Element Os     Ar9380          10
2     Ftpd  Element Os    Aqt1000          10
3     Ftpd  Element Os    Apq8076          10
4     Ftpd  Element Os   Qualcomm          10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1845420 entries, 0 to 1845419
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   Software    object
 1   OS          object
 2   Hardware    object
 3   CVSS Score  int64
dtypes: int64(1), object(3)
memory usage: 56.3+ MB

In [7]:
df=df[0:30000]

In [8]:
df.head()
df.shape

(30000, 4)

In [9]:
# clf = setup(data = X, target = 'Access Complexity',feature_selection = True,high_cardinality_features = ['Product',"Vendor","Vulnerability Type"],fix_imbalance = True, session_id=123,imputation_type='iterative')
clf_ = setup(data = df, target = 'CVSS Score', session_id=123,fix_imbalance = True,imputation_type='iterative')

In [10]:
best = compare_models()

In [11]:
CVV_score = create_model('lr')

In [12]:
tuned_Cvv = tune_model(CVV_score)

In [13]:
final_Cvv = finalize_model(tuned_Cvv)

In [14]:
save_model(final_Cvv,'Final_Cvv')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       float_dtype='float32', id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='CVSS Score', time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False,
                                    classifier=LGBMClassifier(boosting_type='gbdt',
                                                              class_wei...
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False)]],
          verbose=False),
 'Final_Cvv.pkl')

In [15]:
saved_final_Cvv = load_model('Final_Cvv')

Transformation Pipeline and Model Successfully Loaded