In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv("preprocess_file1.csv")

In [35]:
df.head(2)

,CVE ID Number,Publish Date,Software Type,Vendor,Product,CVSS Score,Confidentiality Impact,Integrity Impact,Availibility Impact,Access Complexity,Authentication,Vulnerability Type,Summary Text
0,CVE-2013-2512,2021-01-26,Application,Ftpd Project,Ftpd,10,Complete,Complete,Complete,Low,Not required,Execute Code,the ftpd gem 0.2.1 for ruby allows remote atta...
1,CVE-2020-3686,2021-01-21,Hardware,Qualcomm,Apq8009,10,Complete,Complete,Complete,Low,Not required,unknown,possible memory out of bound issue during musi...

In [36]:
def add_column(x):
    if(x<5):
        x=0
    else:
        x=1
    return x

In [37]:
df["isvulnerable"]=df["CVSS Score"].apply(lambda x:add_column(x))

In [38]:
df.isnull().sum()

CVE ID Number             0
Publish Date              0
Software Type             0
Vendor                    0
Product                   0
CVSS Score                0
Confidentiality Impact    0
Integrity Impact          0
Availibility Impact       0
Access Complexity         0
Authentication            0
Vulnerability Type        0
Summary Text              0
isvulnerable              0
dtype: int64

In [39]:
df["isvulnerable"].value_counts()

1    7274
0    5922
Name: isvulnerable, dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13196 entries, 0 to 13195
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CVE ID Number           13196 non-null  object
 1   Publish Date            13196 non-null  object
 2   Software Type           13196 non-null  object
 3   Vendor                  13196 non-null  object
 4   Product                 13196 non-null  object
 5   CVSS Score              13196 non-null  int64
 6   Confidentiality Impact  13196 non-null  object
 7   Integrity Impact        13196 non-null  object
 8   Availibility Impact     13196 non-null  object
 9   Access Complexity       13196 non-null  object
 10  Authentication          13196 non-null  object
 11  Vulnerability Type      13196 non-null  object
 12  Summary Text            13196 non-null  object
 13  isvulnerable            13196 non-null  int64
dtypes: int64(2), object(12)
memory usage: 1.4+ MB

In [41]:
df.head(2)

,CVE ID Number,Publish Date,Software Type,Vendor,Product,CVSS Score,Confidentiality Impact,Integrity Impact,Availibility Impact,Access Complexity,Authentication,Vulnerability Type,Summary Text,isvulnerable
0,CVE-2013-2512,2021-01-26,Application,Ftpd Project,Ftpd,10,Complete,Complete,Complete,Low,Not required,Execute Code,the ftpd gem 0.2.1 for ruby allows remote atta...,1
1,CVE-2020-3686,2021-01-21,Hardware,Qualcomm,Apq8009,10,Complete,Complete,Complete,Low,Not required,unknown,possible memory out of bound issue during musi...,1

In [44]:
df.to_csv("isvulnerable_file.csv", index = False, header = True)
df1=pd.read_csv("isvulnerable_file.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13196 entries, 0 to 13195
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CVE ID Number           13196 non-null  object
 1   Publish Date            13196 non-null  object
 2   Software Type           13196 non-null  object
 3   Vendor                  13196 non-null  object
 4   Product                 13196 non-null  object
 5   CVSS Score              13196 non-null  int64
 6   Confidentiality Impact  13196 non-null  object
 7   Integrity Impact        13196 non-null  object
 8   Availibility Impact     13196 non-null  object
 9   Access Complexity       13196 non-null  object
 10  Authentication          13196 non-null  object
 11  Vulnerability Type      13196 non-null  object
 12  Summary Text            13196 non-null  object
 13  isvulnerable            13196 non-null  int64
dtypes: int64(2), object(12)
memory usage: 1.4+ MB

In [10]:
X=df[["Software Type","Vendor","Product","Access Complexity","CVSS Score","Authentication","Integrity Impact","isvulnerable"]]

In [11]:
from pycaret.classification import *

In [12]:
exp_mclf101 = setup(data = X, target = 'isvulnerable', session_id=123,imputation_type='iterative')

In [13]:
best = compare_models()

In [45]:
isvul = create_model('gbc')

In [15]:
# tuned_isvul = tune_model(isvul)

In [46]:
final_isvul = finalize_model(isvul)

In [47]:
save_model(final_isvul,'final_isvul')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='isvulnerable',
                                       time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False,
                                    classifier=LGBMClassifier(boosting_type='gbdt',
                                                              class_weight=None,
                                                              colsample_...
                                             learning_rate=0.1, loss='deviance',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             presort='deprecated',
                                             random_state=123, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False)]],
          verbose=False),
 'final_isvul.pkl')